*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    margin: 0;
    overflow-x: hidden;
    background-image: url('images/bg.webp');
    background-size: cover;
    height: 100vh;
}

.navbar-css-container{
    padding: 0;
}
.navbar-css{
    background-color: #0dada2; 
    
}
.logo-1{
    height: 50px;
}
.user-icon{
    height: 50px;
}
.login{
    margin-left: 10px;
    padding: 0 10px 0 10px;
}




/* search  */

body{

    background-color: #00838F;
}


.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active{
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none;
}



.container.form-control:focus{
    box-shadow: none;
    border: 1px solid #00838f;


}

/* html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
} */
/* section{
    padding-top: 10%;
} */



.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 50px;
    letter-spacing: .1rem;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}




.doctors .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
    
}

.doctors .box-container .box{
    text-align: center;
    background:#fff;
    border-radius: 4.5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
    width: 27rem;
    
}

.doctors .box-container .box img{
    height: 10rem;
    border:var(--border);
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


